<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Login</title>
</head>
<body>
    <main>
       
            <div class="titleContent">
                <h1 class="title">Inicia Sesión y Reserva Tus <span>Clases</span></h1>
            </div>
            <div class="formContent">
            <form id="loginForm">
                <h2>BIENVENIDO</h2>
                <div>
                    <label for="email">Email:  </label>
                    <input type="text" id="email" name="email" placeholder="Email de Registro">
                    <span id="emailError" class="error"></span>
                </div>
                <div>
                    <label for="password">Password:  </label>
                    <input type="password" id="password" name="password" placeholder="Tu Password">
                    <span id="passwordError" class="error"></span>
                </div>
                <button type="submit" value="Iniciar Sesión" class="button" disabled>Iniciar Sesión</button>
                </form>
        </div>
    </main>

    <script src="../assets/js/login.js"></script>

</body>
</html>