@import url('https://fonts.googleapis.com/css2?family=Comforter&family=DM+Sans:ital,wght@0,700;1,700&family=Lato:wght@700&family=Outfit:wght@600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=DM+Sans:ital,wght@0,700;1,700&family=Lato:wght@700&family=Outfit:wght@600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Urbanist:wght@400;500&display=swap');

:root {
    /* Typography */
    --font-comforter: 'Comforter', sans-serif;
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-lato: 'Lato', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-urbanist: 'Urbanist', sans-serif;
  
    /* Palette */
    --forest-green: #489F31;
    --deep-purple: #75419E;
    --charcoal-gray: #1D2229 ;
    --black: #000000;
    --white: #FFFFFF;
    --deep-red: #C51F1F;
    --deep-orange: #DB681C;
    --emerald-green: #2DA44E;
   
  
    /* Font-sizes */
    --font-display: 6rem;
    --font-jumbo: 4.5rem;
    --font-semi-large:3.5rem;
    --font-large: 2.5rem;
    --font-medium: 2rem;
    --font-small: 1.5rem;
    --font-xsmall: 1.25rem;
    --font-xxsmall: 1rem;
  
  }


*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    color: var(--white);
    overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

/*Inicio del header*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black);
    z-index: 1000; 
}

body{
    margin-top: 80px;
    background-color: var(--black); 
}

.header_top{
    display: flex;
    justify-content: space-between;
    height: 52px;
}

.header_top_left{
    display: flex;
    font-family: var(--font-urbanist);
    font-size: var(--font-xxsmall);
    align-items: center;
    margin-left: 160px;
}

.header_top_left a {
    display: flex;
    margin-right: 60px; 
}

.header_top_left_items:hover{
    color: var(--forest-green);
}

.header_top_left img {
    margin-right: 5px; 
}

.header_top_right{
    display: flex;
    margin-right: 160px;
    align-items: center;
    transition: height 0.3s ease, width 0.3s ease;
}

.header_top_right a{
    display: flex;
    margin-right: 15px;
    height: 28px;
    width: 28px;
    background-color: var(--charcoal-gray);
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}

.header_top_right a:hover{
    height: 26px;
    width: 26px;
    margin-left: 2px;
}

.header_bottom{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    height: 100px;
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
}

.header_bottom img{
    height: 55px;
    margin-left: 130px;
}

.header_bar{
    display: flex;
    color: var(--black);
    margin-left: 140px;
}

.header_bar li{
    margin-right: 20px;
}

.header_bar li:hover{
    text-decoration: underline;
    font-weight: bolder;
}

nav a.active {
    color: yellow; /* Puedes ajustar el color según tus preferencias */
    font-weight: bold;
  }


.header_bar_select{
    text-decoration: underline;
    font-weight: bolder;
}

.header_bar_button{
    display: flex;
    font-family: var(--font-outfit);
    color: var(--black);
    margin-right: 130px;
}

.header_bar_button li{
    margin-right: 20px;
    font-size: var(--font-xxsmall);
}

.button_white{
    display: flex;
    border: 1px solid var(--black); 
    border-radius: 4px;
    width: 108px;
    height: 46px;
    align-items: center;
    justify-content: center;
}

.button_white:hover{
    box-shadow: 0.1px 0px 5px 0.5px rgba(0, 0, 0, 0.466); 
}

.button_green{
    display: flex;
    background-color: var(--forest-green);
    color: var(--white);
    padding: 16px;
    border-radius: 4px;
    width: 134px;
    height: 46px;
    align-items: center;
    justify-content: center;
}

.button_green:hover{
    box-shadow: 0.3px 1px 10px 1px rgba(52, 168, 10, 0.391); 

}
/*Fin del header*/
