@import url('https://fonts.googleapis.com/css2?family=Comforter&family=DM+Sans:ital,wght@0,700;1,700&family=Lato:wght@700&family=Outfit:wght@600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=DM+Sans:ital,wght@0,700;1,700&family=Lato:wght@700&family=Outfit:wght@600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Urbanist:wght@400;500&display=swap');

:root {
    /* Typography */
    --font-comforter: 'Comforter', sans-serif;
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-lato: 'Lato', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-urbanist: 'Urbanist', sans-serif;
  
    /* Palette */
    --forest-green: #489F31;
    --deep-purple: #75419E;
    --charcoal-gray: #1D2229 ;
    --black: #000000;
    --white: #FFFFFF;
    --deep-red: #C51F1F;
    --deep-orange: #DB681C;
    --emerald-green: #2DA44E;
   
  
    /* Font-sizes */
    --font-display: 6rem;
    --font-jumbo: 4.5rem;
    --font-large: 2.5rem;
    --font-medium: 2rem;
    --font-small: 1.5rem;
    --font-xsmall: 1.25rem;
    --font-xxsmall: 1rem;
  
  }


*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    color: var(--white);
    overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

/*Inicio del header*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black);
    z-index: 1000; 
}

body{
    margin-top: 80px;
    background-color: var(--black); 
}

.header_top{
    display: flex;
    justify-content: space-between;
    height: 52px;
}

.header_top_left{
    display: flex;
    font-family: var(--font-urbanist);
    font-size: var(--font-xxsmall);
    align-items: center;
    margin-left: 160px;
}

.header_top_left a {
    display: flex;
    margin-right: 60px; 
}

.header_top_left_items:hover{
    color: var(--forest-green);
}

.header_top_left img {
    margin-right: 5px; 
}

.header_top_right{
    display: flex;
    margin-right: 160px;
    align-items: center;
    transition: height 0.3s ease, width 0.3s ease;
}

.header_top_right a{
    display: flex;
    margin-right: 15px;
    height: 28px;
    width: 28px;
    background-color: var(--charcoal-gray);
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}

.header_top_right a:hover{
    height: 26px;
    width: 26px;
    margin-left: 2px;
}

.header_bottom{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    height: 100px;
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
}

.header_bottom img{
    height: 55px;
    margin-left: 130px;
}

.header_bar{
    display: flex;
    color: var(--black);
    margin-left: 140px;
}

.header_bar li{
    margin-right: 20px;
}

.header_bar li:hover{
    font-weight: bolder;
    
}


.header_bar_button{
    display: flex;
    font-family: var(--font-outfit);
    color: var(--black);
    margin-right: 130px;
}

.header_bar_button li{
    margin-right: 20px;
    font-size: var(--font-xxsmall);
}

.button_white{
    display: flex;
    border: 1px solid var(--black); 
    border-radius: 4px;
    width: 108px;
    height: 46px;
    align-items: center;
    justify-content: center;
}

.button_white:hover{
    border: 2.2px solid var(--black); 
    font-weight: bolder;
}

.button_green{
    display: flex;
    background-color: var(--forest-green);
    color: var(--white);
    padding: 16px;
    border-radius: 4px;
    width: 134px;
    height: 46px;
    align-items: center;
    justify-content: center;
}

.button_green:hover{
    border: 2px solid #2e6b1c; 
    font-weight: bolder;
}
/*Fin del header*/

/*----------------------------------Inicio del main--------------------------------------*/

/* Inicio sección hero */

.section_hero { 
    position: relative;
    height: 630px;
}

.section_hero_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(0, 0, 0), transparent), url('/assets/img/background_image/hero_img.png');
    background-position: bottom;
    background-size:cover;
    background-repeat: no-repeat;
}

.container_hero{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 431px;
    margin-left: 130px;
    
}
.container_hero h3{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    margin: 150px 0px 0px 0px;
    line-height: 60px;
}

.container_hero p{
    color: var(--white);
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
    line-height: 30px;    
    margin: 20px 150px 0px 0px;
}

.ul_buttons{
    display: flex;
    margin: 30px 150px 0px 0px;
    font-family: var(--font-outfit);
    font-size: var(--font-xsmall);
}

.button_conocer_mas{
    display: flex;
    border: 1px solid var(--white); 
    border-radius: 4px;
    width: 139px;
    height: 46px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.button_conocer_mas:hover{
    border: 2.2px solid var(--white); 
    font-weight: bolder;
}

.button_registrarse{
    display: flex;
    background-color: var(--forest-green);
    color: var(--white);
    padding: 16px;
    border-radius: 4px;
    width: 134px;
    height: 46px;
    align-items: center;
    justify-content: center;
}

.button_registrarse:hover{
    border: 2px solid #2e6b1c; 
    font-weight: bolder;
}

/* Fin sección hero */


/* Inicio sección clases y programas*/
.section_clases_y_programas{
    display: flex;
    flex-direction: column;
    height: 1058px;
    background-image: url('/assets/img/background_image/clases_img.png');
    background-size: cover;
}

h1{
    position: absolute;
    font-family: var(--font-urbanist);
    font-size: 8.8rem;
    line-height: 140px;
    color: #ffffff13;
    width: 723px;
    margin: 20px 0px 0px 30px;
    font-weight:bolder;
}
.container_clases_y_programas{
    margin: 30px 0px 0px 130px;

}

.container_clases_y_programas h3{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    line-height: 60px;
    width: 575px;
}


.container_clases_y_programas p{
    color: var(--white);
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
    line-height: 28px;
    width: 476px;
    margin-top: 25px;
    font-weight: 400;
}

.buttons_slider{
    position: relative;
    top: 220px;
    left: calc(100% - 172px);
    width: 172px; 
}

.button_prev{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid var(--white);
    background-color: #ffffff00;
    cursor: pointer;
    position: relative;
    margin: 10px;
}
.button_prev:hover{
    border: 3px solid var(--white);
}
.button_next {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--forest-green);
    border: none;
    cursor: pointer;
    position: relative;
}
.button_next:hover{
    border: 3px solid #193d0e;
}

/*Inicio slider*/
/* Estilo base del slider */

div.carousel {
    height: 440px; 
    margin-top: 70px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }

/* Estilo de la lista de elementos del slider */

/* Estilo de cada elemento del slider */
.carousel div {
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 266px;
    background-color: var(--black);
    color: var(--white);
    border-radius:10px;
    border: 1px solid var(--white); 
    flex: 0 0 auto;
    transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
    padding: 40px 30px;
    position: absolute;
}

/* Estilo para las imágenes en el slider */
.carousel img {
    max-width: 32px;
    max-height: 32px;

}

/* Estilo para el contenido del slider (puedes personalizar según tus necesidades) */

.carousel h4{
    font-family: var(--font-outfit);
    font-size: var(--font-xsmall);
    line-height: 26px;
    margin: 10px 0px;
}

.carousel p{
    font-family: var(--font-urbanist);
    font-size: var(--font-xxsmall);
    line-height: 24px;
    font-weight: lighter;
    margin: 10px auto;
}


.carousel div.prevLeftSecond {
    
    left: -5%;
    transform: translateY(25%) translateX(-50%);
    opacity: 0.7;
  }

.carousel div.Prevleft {
   
    left: 17%;
    transform: translateY(25%) translateX(-50%);
 
}
.carousel div.selected {
    left: 50%;
    transform: translateY(0px) translateX(-50%);
    background-color: var(--deep-purple);
    width: 572px;
    height: 408px;
}

.carousel div.nextRight {
    
    left: 83%;
    transform: translateY(25%) translateX(-50%);
  }

  .carousel div.nextRightSecond {

    left: 105%;
    transform: translateY(25%) translateX(-50%);
  }


/* Fin sección clases y programas*/


/*Inicio sección membresías */
.section_membresías{
    display: flex;
    flex-direction: column;
    height: 952px;
    align-items: center;
    background-color: #090707;
}


.section_membresías h2{
    font-family: var(--font-urbanist);
    font-size: 8.8rem;
    color: #ffffff13;
    font-weight: 900;
    position: absolute;
}

.section_membresías h3{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    line-height: 60px;
    width: 543px;
    margin-top: 95px;
}

.container_periodo{
    display: flex;
    width: 399px;
    height: 60px;
    border-radius: 14px;
    margin: 40px auto; 
    background-color: var(--charcoal-gray);
    justify-content:space-around;
}
.periodo-btn {
    width: 120px;
    height: 44px;
    cursor: pointer;
    color: var(--white);
    border-radius: 12px;
    border: none;
    text-align: center;
    align-self: center;
    background-color: #00000000;
    line-height: 40px;
    font-family: var(--font-outfit);
    font-size:var(--font-xxsmall);
}


.periodo-btn:hover{
    border: 2px solid var(--deep-purple);
}


#periodo_select {
    background-color: var(--deep-purple);
}

.programas{
    display: flex;
    width: 1172px;
    height: 600px;
    align-items: center;
    justify-content:space-around;
    
}

.programas>div{
    display: flex;
    flex-direction: column;
    width: 372px;
    height: 498px;
    background-color: var(--charcoal-gray);
    border-radius: 16px;
    padding: 24px 28px;
}

.programas div h4{
    font-family: var(--font-outfit);
    font-size: var(--font-xxsmall);
    color: var(--forest-green);
}

.programas div p.precio{
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    color: var(--white);
    margin-top: 10px;
}

.programas div p.mensualmente{
    font-family: var(--font-urbanist);
    font-size: var(--font-xxsmall);
    color: #878787;
    font-weight: lighter;
    margin-bottom: 15px;
}

.programas div li{
    display: flex;
    font-family: var(--font-urbanist);
    font-size: var(--font-xxsmall);
    color: #E1E1E1;
    font-weight: lighter;
    margin-top: 15px;
}
.programas div li img{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.container_programa{
    width: 308px;
    height: 358px;
    margin: 15px 10px 0pc;
}


.programas div button{
    width: 224px;
    height: 54px;
    align-self: center;
    background-color: var(--black);
    color: var(--white);
    border-radius: 12px;
    border: 1px solid var(--white);
    font-family: var(--font-outfit);
    font-size: var(--font-xxsmall);
    cursor: pointer;
}

#programa_select{
    background-color: var(--deep-purple);
    height: 600px;
}

.programas div button:hover{
    border-color: var(--deep-purple);
    font-weight: bolder;
}

#programa_select h4{
    color: var(--white);
    margin-top: 30px;
}

#programa_select p.mensualmente{
    color: var(--white);
    margin-bottom: 20px;
}

#programa_select li{
    font-size: var(--font-xsmall);
    font-weight: 500;
    margin-top: 15px;
}

#programa_select button{
    margin-top: 60px;
}


/*Fin sección membresías */


/*Inicio sección nosotros*/
.section_nosotros{
    display: flex;
    flex-direction: column;
    height: 1378px;
    background-image: url('/assets/img/background_image/nosotros_img.png');
    align-items: center;
    background-position: center bottom; 
    background-size: cover;
   
}

.nosotros_head{
    display: flex;
    flex-direction: column;
    margin: 0px 130px;
    align-items: center;
}


.section_nosotros h2{
    font-family: var(--font-urbanist);
    font-size: 8.8rem;
    color: #ffffff13;
    font-weight: 900;
    position: absolute;
}

.section_nosotros h3{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    margin-top: 80px;
    text-align: center;
}

.section_nosotros p{
    color: var(--white);
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
    margin-top: 30px;
    text-align: center;
    width: 924px;
    line-height: 28px;

}

.container_instructores{
    display: flex;
    width: 950px;
    justify-content: space-around;
    margin-top: 20px; 
}

.container_instructores img{
    width: 272px;
    height: 390px;
    
}

.container_mision_valores_vision{
    display: flex;
    width: 1172px;
}

.mision_valores_vision{
    display: flex;
    flex-direction: column;
    width: 372px;
    align-items: center;
    margin-top: 60px;
}

.mision_valores_vision h4{
    font-family: var(--font-outfit);
    font-size: var(--font-large);
    color: var(--forest-green);
}

.mision_valores_vision p{
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
    line-height: 28px;
    width: 292px;
    height: 280px;
    font-weight: 400;
}

.section_estadisticas{
    display: flex;
    flex-direction: column;
    height: 768px;
  
}

/*Fin sección nosotros*/

/*Inicio secció testimonios*/
.section_testimonios{
   display: flex;
}

.section_testimonios h2{
    font-family: var(--font-urbanist);
    font-size: 8.8rem;
    color: #ffffff13;
    font-weight: 900;
    position: absolute;
    margin-left: 30px;
}

.contanier_testimonios{
    position: relative;

}

.section_testimonios h3{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    margin: 100px 0px 0px 90px;
    width: 748px;
    line-height: 60px;
}

.section_testimonios p{
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
    line-height: 28px;
    font-weight: 400;
    width: 588px;
    margin: 30px 90px;
}

.carousel_redes{
    display: flex;
    width: 1172px;
    height: 432px;
    overflow: hidden;
    justify-content: space-between;
    margin: 0px 90px;
}

.carousel_redes div{   
    display: flex;
    flex-direction: column;
    width: 372px;
    height: 432px;
    background-color:#ffffff18;
    border-radius: 10px;
    border: 1px solid var(--white);
    padding: 40px 34px; 
}


.carousel_redes h4{
    font-family: var(--font-outfit);
    font-size: var(--font-small);
    font-weight: bolder;
}

.carousel_redes p.comentario_usuario{
    font-family: var(--font-urbanist);
    font-size: var(--font-x-small);
    width: 300px;
    margin: 10px 0px 10px 0px;
    text-align: left;
}

.carousel_redes p.name_usuario{
    font-family: var(--font-outfit);
    font-size: var(--font-medium);
    text-align: left;
    margin: 10px 0px 10px 0px;
}

.carousel_redes p.usuario_destacado{
    font-family: var(--font-outfit);
    font-size: var(--font-x-small);
    margin: 0px 0px 10px 0px;
}
/*Fin sección testimonios*/

/*Fin del main*/