
/*----------------------------------Inicio del main--------------------------------------*/

/* Inicio sección hero */

.section_hero { 
    position: relative;
    height: 630px;
}

.section_hero_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(0, 0, 0), transparent), url('/assets/img/background_image/hero_img.png');
    box-shadow: 50px 10px 40px 70px rgb(0, 0, 0) inset;
    background-repeat: no-repeat;
}

.container_hero{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 431px;
    margin-left: 130px;
    
}
.container_hero h3{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    margin: 150px 0px 0px 0px;
    line-height: 60px;
}

.container_hero p{
    color: var(--white);
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
    line-height: 30px;    
    margin: 20px 150px 0px 0px;
}

.ul_buttons{
    display: flex;
    margin: 30px 150px 0px 0px;
    font-family: var(--font-outfit);
    font-size: var(--font-xxsmall);
}

.button_conocer_mas{
    display: flex;
    border: 1px solid var(--white); 
    border-radius: 4px;
    width: 139px;
    height: 46px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.button_conocer_mas:hover{
    box-shadow: 0.1px 0px 5px 0.5px rgba(255, 255, 255, 0.277); 
}

.button_registrarse{
    display: flex;
    background-color: var(--forest-green);
    color: var(--white);
    padding: 16px;
    border-radius: 4px;
    width: 134px;
    height: 46px;
    align-items: center;
    justify-content: center;
}

.button_registrarse:hover{
    box-shadow: 0.3px 1px 10px 1px rgba(52, 168, 10, 0.391); 
}

/* Fin sección hero */


/* Inicio sección clases y programas*/
.section_clases_y_programas{
    display: flex;
    flex-direction: row;
    height: 500px;
    background-image: url('/assets/img/background_image/clases_img.png');
    background-size: cover;
    margin-top: 40px;
    box-shadow: 50px 10px 40px 70px rgb(0, 0, 0) inset;
}

h1{
    position: absolute;
    font-family: var(--font-urbanist);
    font-size: 8.8rem;
    line-height: 140px;
    color: #ffffff13;
    width: 723px;
    margin: 20px 0px 0px 50px;
    font-weight:bolder;
}
.container_clases_y_programas{
    margin: 70px 0px 0px 130px;

}

.container_clases_y_programas h3{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    line-height: 60px;
    width: 575px;
}


.container_clases_y_programas p{
    color: var(--white);
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
    line-height: 28px;
    width: 476px;
    margin-top: 25px;
    font-weight: 400;
}

.slider{
    display: flex;
    width: 572px; 
    height: 336px;
    margin-right: 130px;
    justify-content: center;
    align-items: center;
}

.button_prev{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid var(--white);
    background-color: #ffffff00;
    cursor: pointer;
}
.button_prev:hover{
    box-shadow: 0.3px 1px 10px 1px rgba(255, 255, 255, 0.253); 
}
.button_next {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--forest-green);
    border: none;
    cursor: pointer;
}
.button_next:hover{
    box-shadow: 0.3px 1px 10px 1px rgba(52, 168, 10, 0.391); 
}

/*Inicio slider*/
/* Estilo base del slider */

/* Estilo de la lista de elementos del slider */

/* Estilo de cada elemento del slider */

/* Estilo para las imágenes en el slider */
.select img {
    max-width: 64px;
    max-height: 64px;
    margin-right: 20px;
}

/* Estilo para el contenido del slider (puedes personalizar según tus necesidades) */

.select{
    background-color: #76419eb4;
    width: 350px;
    height: 336px;
    margin: 0px 30px;
    border-radius: 4%;
}


.select h4{
    display: flex;
    font-family: var(--font-outfit);
    font-size: var(--font-small);
    margin: 20px;
    align-items: center;
}

.select p{
    font-family: var(--font-urbanist);
    font-size: var(--font-xxsmall);
    line-height: 32px;
    font-weight: lighter;
    margin: 10px 30px;
   
}



/* Fin sección clases y programas*/


/*Inicio sección membresías */
.section_membresías{
    display: flex;
    flex-direction: column;
    height: 952px;
    align-items: center;
    background-color: #090707;
}

.section_membresías h2{
    font-family: var(--font-urbanist);
    font-size: 8.8rem;
    color: #ffffff13;
    font-weight: 900;
    position: absolute;
}

.section_membresías h3{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    line-height: 60px;
    width: 543px;
    margin-top: 95px;
}

.container_periodo{
    display: flex;
    width: 399px;
    height: 60px;
    border-radius: 14px;
    margin: 40px auto; 
    background-color: var(--charcoal-gray);
    justify-content:space-around;
}
.periodo-btn {
    width: 120px;
    height: 44px;
    cursor: pointer;
    color: var(--white);
    border-radius: 12px;
    border: none;
    text-align: center;
    align-self: center;
    background-color: #00000000;
    line-height: 40px;
    font-family: var(--font-outfit);
    font-size:var(--font-xxsmall);
}
.periodo-btn:hover{
    border: 2px solid var(--deep-purple);
}


#periodo_select {
    background-color: var(--deep-purple);
}

.programas{
    display: flex;
    width: 1172px;
    height: 600px;
    align-items: center;
    justify-content:space-around;
    
}

.programas>div{
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 460px;
    background-color: var(--charcoal-gray);
    border-radius: 16px;
    padding: 24px 28px;
}

.programas div h4{
    font-family: var(--font-outfit);
    font-size: var(--font-xxsmall);
    color: var(--forest-green);
}

.programas div p.precio{
    font-family: var(--font-outfit);
    font-size: var(--font-semi-large);
    color: var(--white);
    margin-top: 10px;
}

.programas div p.mensualmente{
    font-family: var(--font-urbanist);
    font-size: var(--font-xxsmall);
    color: #878787;
    font-weight: lighter;
    margin-bottom: 15px;
}

.programas div li{
    display: flex;
    font-family: var(--font-urbanist);
    font-size: var(--font-xxsmall);
    color: #E1E1E1;
    font-weight: lighter;
    margin-top: 15px;
}
.programas div li img{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.container_programa{
    width: 308px;
    height: 330px;
    margin: 15px 10px 0px;
}


.programas div button{
    width: 224px;
    height: 54px;
    align-self: center;
    background-color: var(--black);
    color: var(--white);
    border-radius: 12px;
    border: 1px solid var(--white);
    font-family: var(--font-outfit);
    font-size: var(--font-xxsmall);
    cursor: pointer;
}

#programa_select{
    background-color: var(--deep-purple);
    width: 335px;
    height: 480px;
    padding: 15px 25px;
}

.programas div button:hover{
    border-color: var(--deep-purple);
    font-weight: bolder;
}

#programa_select h4{
    color: var(--white);
    margin-top: 10px;
}

#programa_select p.mensualmente{
    color: var(--white);
    margin-bottom: 20px;
}

#programa_select li{
    font-size: var(--font-xsmall);
    margin-top: 15px;
}
#programa_select button{
    margin-top: 30px;
}


/*Fin sección membresías */


/*Inicio sección nosotros*/
.section_nosotros{
    display: flex;
    flex-direction: column;
    height: 1378px;
    background-image: url('/assets/img/background_image/nosotros_img.png');
    align-items: center;
    background-position: center bottom; 
    background-size: cover;
   
}

.nosotros_head{
    display: flex;
    flex-direction: column;
    margin: 0px 130px;
    align-items: center;
}


.section_nosotros h2{
    font-family: var(--font-urbanist);
    font-size: 8.8rem;
    color: #ffffff13;
    font-weight: 900;
    position: absolute;
}

.section_nosotros h3{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    margin-top: 80px;
    text-align: center;
}

.section_nosotros p{
    color: var(--white);
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
    margin-top: 30px;
    text-align: center;
    width: 924px;
    line-height: 28px;

}

.container_instructores{
    display: flex;
    width: 950px;
    justify-content: space-around;
    margin-top: 20px; 
}

.container_instructores img{
    width: 272px;
    height: 390px;
    
}

.container_mision_valores_vision{
    display: flex;
    width: 1172px;
}

.mision_valores_vision{
    display: flex;
    flex-direction: column;
    width: 372px;
    align-items: center;
    margin-top: 60px;
}

.mision_valores_vision h4{
    font-family: var(--font-outfit);
    font-size: var(--font-large);
    color: var(--forest-green);
}

.mision_valores_vision p{
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
    line-height: 28px;
    width: 292px;
    height: 280px;
    font-weight: 400;
}



/*Fin sección nosotros*/

/*Inicio secció testimonios*/
.section_testimonios{
   display: flex;
}

.section_testimonios h2{
    font-family: var(--font-urbanist);
    font-size: 8.8rem;
    color: #ffffff13;
    font-weight: 900;
    position: absolute;
    margin-left: 30px;
}

.contanier_testimonios{
    position: relative;

}

.section_testimonios h3{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    margin: 100px 0px 0px 90px;
    width: 748px;
    line-height: 60px;
}

.section_testimonios p{
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
    line-height: 28px;
    font-weight: 400;
    width: 588px;
    margin: 30px 90px;
}

.carousel_redes{
    display: flex;
    width: 1172px;
    height: 432px;
    overflow: hidden;
    justify-content: space-between;
    margin: 0px 90px;
}

.carousel_redes div{   
    display: flex;
    flex-direction: column;
    width: 372px;
    height: 432px;
    background-color:#ffffff18;
    border-radius: 10px;
    border: 1px solid var(--white);
    padding: 40px 34px; 
}


.carousel_redes h4{
    font-family: var(--font-outfit);
    font-size: var(--font-small);
    font-weight: bolder;
}

.carousel_redes p.comentario_usuario{
    font-family: var(--font-urbanist);
    font-size: var(--font-x-small);
    width: 300px;
    margin: 10px 0px 10px 0px;
    text-align: left;
}

.carousel_redes p.name_usuario{
    font-family: var(--font-outfit);
    font-size: var(--font-medium);
    text-align: left;
    margin: 10px 0px 10px 0px;
}

.carousel_redes p.usuario_destacado{
    font-family: var(--font-outfit);
    font-size: var(--font-x-small);
    margin: 0px 0px 10px 0px;
}
/*Fin sección testimonios*/


/*Inicio sección estadísticas*/
.section_estadisticas {
    display: flex;
    flex-direction: column;
    height: 804px;
    align-items: center;
}

.header_estadisticas {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.header_estadisticas h2{
    font-family: var(--font-urbanist);
    font-size: 8.8rem;
    color: #ffffff13;
    font-weight: 900;
    position: absolute;
    margin-top: 50px;
}

.header_estadisticas h3{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-jumbo);
    text-align: center;
    top: 120px;
    position: relative;
    
}

.header_estadisticas p{
    position: relative;
    color: var(--white);
    font-family: var(--font-urbanist);
    font-size: var(--font-xsmall);
    margin: 130px 0px 30px;
    text-align: center;
    width: 924px;
    line-height: 28px;
}

.container_cajas{
    display: flex;
    margin: 0px 130px;
}
.cajas {
    display: flex;
    flex-wrap:wrap;
    width: 50%;
    height: 476px;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.img_cajas{
    background-image: url(/assets/img/background_image/estadisticas.png);
    width: 50%;
    height: 476px;
}

.cajas h4{
  
    font-family: var(--font-outfit);
    font-size: var(--font-large);
    text-align: center;
}

.cajas h5{
  
    margin-top: 18px;
    font-family: var(--font-outfit);
    font-size: var(--font-x-small);
    text-align: center;
}

.cajas p{
    margin-top: 15px;
    font-family: var(--font-urbanist);
    font-size: var(--font-x-small);
    text-align: center;
}

.cuadro1{
    height: 158px;
    width: 50%;
    padding-right: 20px;
}

.cuadro2{
    height: 158px;
    width: 50%;
    padding-left: 10px;
}

.cuadro3{
    height: 158px;
    width: 50%;
    padding-right: 20px;
}

.cuadro4{
    height: 158px;
    width: 50%;
    padding-left: 10px;
}
/*Fin sección estadísticas*/



.contacto{
    display: flex;
    background-image: url(/assets/img/background_image/contacto_img.png);
    margin-top: 100px;
}

.contanier_formulario{
    display: flex;
    flex-direction: column;
    width: 472px;
    height: 930px;
    margin-left: 130px;
}


.contacto h3 {
    color: #7C9CBF;
    font-size: var(--font-jumbo);
    font-family: var(--font-outfit);
    line-height: 60px;
    
    }



.contacto p {
    font-family: var(--font-urbanist);
    margin: 20px 0px 20px 0px;


}



.formulario {
    display: flex;
    flex-direction: column;
    
}

.formulario label{
    font-family: var(--font-outfit);
    color: #7C9CBF;
    margin: 30px 0px 10px 0px;
    font-size: var(--font-xsmall);
}

.formulario input{
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background:var(--charcoal-gray);
    border: none;
    font-family: var(--font-urbanist);
    font-size: var(--font-x-small);
    padding: 10px;
}

.formulario textarea{
    width: 100%;
    height: 174px;
    border-radius: 4px;
    background:var(--charcoal-gray);
    border: none;
    font-family: var(--font-urbanist);
    font-size: var(--font-x-small);
    padding: 10px;
}




input.button_form {
    background-color: #7C9CBF;
    width:372px ;
    height: 46px;
    color: var(--charcoal-gray);
    font-family: var(--font-outfit);
    font-size: var(--font-x-small);
    align-self: center;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    
}

.button_form:hover {
    box-shadow: 0.2px 0px 7px 1px var(--charcoal-gray); 
}


.datos_de_contacto{
    width: 472px;
    background: rgba(29, 34, 41, 0.8);
    height: 412px;
    border-radius: 4%;
    margin: 170px auto;
}


.datos_de_contacto h3{
    color: #7C9CBF;
    font-family: var(--font-outfit);
    font-size: var(--font-large);
    margin: 40px 40px 20px 40px;
}


.datos {
    margin: 10px 40px;
    list-style: none;
}

.datos li {
    margin-bottom: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: var(--font-urbanist);
    font-size: var(--font-small);

}


.datos li div{
    background-color: var(--black);
    width: 52px;
    height: 52px;
    
}

.datos li img{
margin-right: 20px;

    
}


footer {
    display: flex;
	background-color: var(--charcoal-gray);
	height: 412px;
    padding: 60px;
}

.logo-details{
    display: flex;
    flex-direction: row;
    width: 772px;
    margin-left: 20px;
}


.logo-details .logo_name1{
	color: var(--forest-green);
    font-size: var(--font-jumbo);
	font-family:var(--font-outfit);
	margin: 20px 0px 0px 0px;
  
}

.logo-details div{
    font-size: 60px;
    font-weight: bolder;
    margin: 28px 10px;
}

.logo-details .logo_name2{
	font-family:var(--font-outfit);
	font-size: 15px;
    line-height: 26px;
    text-align: left;
    width: 25%;
    margin: 40px 0px 0px 10px;
}




.media-icons {
	display: flex;
	margin-top: 80px;
	width: 272px;
    margin-left: 20px;
}

.media-icons p{
    font-family:var(--font-outfit);
	font-size: 15px;
    margin-right: 20px;
}

.media-icons a {
    display: flex;
	height: 36px;
	width: 36px;
	margin: auto 10px;
	border-radius: 8px;
    background-color: var(--black);
}


.media-icons img{
    display: flex;
    margin: auto;

}


.nav_footer {
	display: flex;
    width: 272px;
    height: 148px;
    margin-left: 50px;
}

.services{
    width: 99px;
}

.links{
    width: 167px;
}

.nav_footer h4{
    font-family: var(--font-outfit);
    margin: 30px 0px 20px 0px;
    color: var(--forest-green);
}

.nav_footer p{
    font-family: var(--font-urbanist);
    margin-bottom: 15px;
}

hr {
    display: flex;
    color: #ffffff; 
    width: 80%;
    height: 2px;
    position: absolute;
    margin-top: 260px;
    margin-left: 5%;
  }

.copyright{
    width: 100%;
    position: absolute;
    margin-top: 280px;
    text-align: center;
    font-family: var(--font-urbanist);
}




/*Fin del main*/