*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 1);
}


.container{
    width: 60%;
    min-height: 100dvb;
    min-width: 500px;
    padding: 100px 100px 0px;
}

.imagen img{
    height: 700px;
    width: 800px;
    position: absolute;
    transform: translate(20%,-55%);
    top:80%;
    left: 27%;
    z-index: -20;
}

.contenido{
    text-align: center;
}

.contenido h1{
    font-size: 50px;
    font-family: 'Outfit';
    color: rgba(117, 65, 158, 1);
    margin-bottom: 18px;
}

.contenido p {
    font-size: 20px;
    font-family: 'Urbanist';
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.botones{
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: 'Outfit';
    
}

.botones ul {
    background: rgba(29, 34, 41, 1);
    list-style: none;
    display: flex;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    margin-left: 120px;
    text-align: center;
    justify-content:space-between;
    align-items: center;
}
.botones ul .btn1{
    background-color: rgba(117, 65, 158, 1);
    padding: 8px;
    border-radius: 9px;
}

.botones ul .btn1:hover{
    border: 1px solid rgba(117, 65, 158, 1);
    padding: 8px;
    border-radius: 9px;
}

.botones ul .btn2{
    padding: 8px;
    border-radius: 9px;
}

.botones ul .btn2:hover{
    border: 1px solid rgba(117, 65, 158, 1);
    padding: 8px;
    border-radius: 9px;
}

.botones ul .btn3{
    padding: 8px;
    border-radius: 9px;
}

.botones ul .btn3:hover{
    border: 1px solid rgba(117, 65, 158, 1);
    padding: 8px;
    border-radius: 9px;
}

.botones ul .btn4{
    padding: 8px;
    border-radius: 9px;
}

.botones ul .btn4:hover{
    border: 1px solid rgba(117, 65, 158, 1);
    padding: 8px;
    border-radius: 9px;
}

.botones ul a {
    text-decoration: none;
}
.botones ul li a{
    color: rgba(255, 255, 255, 1);
}

.wrapper{
    background-color:rgba(29, 34, 41, 0.5);
    margin-bottom: 15px;
    padding: 5px 20px;
    border: 1px solid rgba(180, 185, 201, 1);
    box-shadow: 0px 1px 4px 0px rgba(78, 159, 255, 0.2);
    border-radius: 10px;
}

.toggle{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
    font-family: 'Outfit';
}
.content{
    color: rgba(255, 255, 255, 1);
    font-family: 'Urbanist';
   
    font-size: 17px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all 1s;

}

.container_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_wrapper p{
    font-family: 'Outfit';
    text-align: center;
    padding: 20px 70px;
}

.button_contacto{
    background-color: blueviolet;
    color: white;
    width: 133px;
    height: 46px;
    border-radius: 10px;
    font-family: 'Outfit';
    font-size: 18px;
    margin: 20px 0px 60px;
    
}