main{
    display: flex;
    flex-direction: row;
    background-image: url(/assets/img/background_image/background_register.png);
    justify-content: space-around;
    background-repeat: no-repeat;
    padding: 150px 100px 40px;
}


.titleContent{
    display: flex;
    flex-direction: column;
    width: 472px;
    height: 255px;
    margin-top: 30px;
}



.title{
    color: var(--white);
    font-size: var(--font-jumbo);
    font-family: var(--font-outfit);
    position: initial;
    margin: 0px 0px 0px 30px;
}

.titleContent p{
    font-family: var(--font-urbanist);
    line-height: 24px;
    margin: 0;
    padding: 0px 30px;
}

span{
    color: white;
    
}

.formContentLogin, .formContentRegistro {
    display: flex;
    flex-direction: column;
    color: rgb(254, 253, 253);
    background-color: #1d2229bc;
    width: 400px;
    height: auto;
    border-radius: 15px;
    align-items: center;
    margin: 0px 0px 30px;
    padding-top: 40px;
}

.formContentRegistro {
    height: 560px;
}

.formContentLogin ul,.formContentRegistro ul{
    display: flex;
    list-style: none;
    font-family: var(--font-outfit);
    color: #7C9CBF;
}

.formContentLogin li,.formContentRegistro li{
    margin: 0px 20px 20px;
  
}

.formContentLogin li:hover,.formContentRegistro li:hover{
    text-decoration: underline;
  
}

.select_option{
    color: var(--white);
    text-decoration: underline;
}

.formContentLogin h2,.formContentRegistro h2{
    color: var(--forest-green);
    font-family: var(--font-outfit);
    font-size: var(--font-medium);
    margin-bottom: 5px;
}

.formContentLogin p, .formContentRegistro p{
    font-family: var(--font-urbanist);
    margin-bottom: 20px;
    color: #ffffffa6;
}

#loginForm{
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 0px 10px;
    font-family: var(--font-outfit);
    font-size: var(--font-xxsmall);

    
}


#name, #email, #password, #password_confirm {
    margin: 5px 0px 10px;  
    width: 100%;
    height: 35px; 
    padding-left: 10px;
    color: #03030315;
    border-radius: 4px;
}

#loginForm input:focus::placeholder,
#loginForm input:not(:placeholder-shown) {
    color: var(--black);
}

.button{
    margin: 15px 0px 40px;
    border-radius: 4px;
    width: 100%;
    height: 40px; 
    background-color: var(--forest-green);
    color: var(--white);
    font-family: var(--font-outfit);
    font-size: var(--font-xxsmall);
}

.error {
    color: rgb(199, 20, 20);
    font-weight: 200;
    font-size: 1em;
    background-color: rgb(1, 1, 1);
    text-align: center;
}





